.Container {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 1400px) {
  .Container {
    display: block;
    visibility: visible;
    display: flex;
    width: 73px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
  }
}

.Eye {
  width: 24px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px;
  background-image: url('../../../images/eye.svg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.CloseEye {
  width: 24px;
  height: 100%;
  border-radius: 50px;
  background: url('../../../images/close-eye.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.Switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 100%;
  border-radius: 50px;
}

/* Hide default HTML checkbox */
.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 134, 142, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  top: 4px;
  right: 24px;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #ff868e;
}

.Switch input:checked + .Slider {
  background-color: #fbe0dc;
}

.Switch input:checked + .Slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.Slider.Round {
  border-radius: 50px;
}

.Slider.Round:before {
  border-radius: 40px;
}
