.Btn {
  display: inline-block;
  width: 138px;
  height: 36px;
  background-color: #ffffff;
  color: var(--accent-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.Btn:hover,
.Btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
