.Container {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 767px;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #f8f8f7;
  z-index: 999;
}

.ContainerIsHidden {
  display: none;
  visibility: hidden;
}

.NavList {
  margin-top: 100px;
}

.ItemWrapper {
  display: flex;
  justify-content: center;
}

.BtnText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 2px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.BtnTextDark {
  composes: BtnText;
  background-color: rgba(255, 255, 255, 0.1);
}

.BtnTextActive {
  composes: BtnText;
  color: #fff;
  background-color: var(--accent-color);
  cursor: pointer;
}

.BtnText:hover,
.BtnText:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.CloseMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: #fff;
}
