.Form {
  background-color: #f8f8f7;
  border-radius: 20px;
  margin-top: 10px;
  width: 295px;
  padding-top: 5px;
}

@media screen and (min-width: 768px) {
  .Form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 156px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
  }
}

.FormDark {
  composes: Form;
  background-color: rgba(255, 255, 255, 0.05);
}

.SelectWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 58px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .SelectWrapper {
    margin-top: 0;
  }
}

.SelectType {
  width: 275px;
  height: 40px;
  padding-left: 10px;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--strong-text-color);
  /* color: var(--text-color); */
  outline: none;
  border: none;
}

@media screen and (min-width: 768px) {
  .SelectType {
    width: 290px;
  }
}

.SelectTypeDark {
  composes: SelectType;
  background-color: #1d1d1d;
  color: var(--text-color);
  /* color: #fff; */
}

@media screen and (min-width: 768px) {
  .SelectOrder,
  .SelectBreed {
    composes: SelectType;
    margin-right: 20px;
  }
}

.SelectOrderDark,
.SelectBreedDark {
  composes: SelectType;
  margin-right: 20px;
  background-color: #1d1d1d;
  color: var(--text-color);
  /* color: #fff; */
}

.SelectLimit {
  composes: SelectType;
}

@media screen and (min-width: 768px) {
  .SelectLimit {
    width: 240px;
  }
}

.SelectLimitDark {
  composes: SelectType;
  width: 240px;
  background-color: #1d1d1d;
  color: var(--text-color);
  /* color: #fff; */
}

.FormBtn {
  composes: SelectType;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .FormBtn {
    width: 40px;
    margin-left: 10px;
    margin-top: 18px;
  }
}

.FormBtnDark {
  composes: FormBtn;
  background-color: #1d1d1d;
  color: var(--text-color);
  /* color: #fff; */
}

.ImgBtn {
  transform: rotate(0deg);
}

.ImgBtn:active {
  transform: rotate(250deg);
}

.SelectLabel {
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.8;
  color: var(--text-color);
}
