/* breed info page */
.BigLightButton {
  display: inline-block;
  width: 143px;
  background-color: #fbe0dc;
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.BigLightBtnText {
  composes: BigLightButton;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
}

.BtnWrapperGallery {
  justify-content: space-between;
}

/* Select buttons */
.FilterContainer {
  display: block;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .FilterContainer {
    display: flex;
    margin-top: 0;
  }
}

.SelectName {
  width: 100%;
  height: 40px;

  padding-left: 10px;
  background-color: #f8f8f7;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  outline: none;
  border: none;
}

@media screen and (min-width: 768px) {
  .SelectName {
    width: 226px;
    margin-left: 10px;
  }
}

.SelectNameDark {
  composes: SelectName;
  background-color: #1d1d1d;
  /* background-color: rgba(255, 255, 255, 0.05); */
}

.LimitContainer {
  display: flex;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .LimitContainer {
    margin-top: 0;
  }
}

.SelectLimit {
  composes: SelectName;
  width: 101px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .SelectLimit {
    margin-left: 10px;
  }
}

.SelectLimtDark {
  composes: SelectLimit;
  background-color: #1d1d1d;
  /* background-color: rgba(255, 255, 255, 0.05); */
}

.SortBtn {
  composes: SelectName;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding-left: 0;
  cursor: pointer;
  margin-left: 10px;
}

.SortBtnDark {
  composes: SortBtn;
  background-color: #1d1d1d;
  /* background-color: rgba(255, 255, 255, 0.05); */
}

.Letter {
  width: 19px;
  height: 22px;
}

/* Previev and Next btns */
.RouteBtnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.PrevievBtn,
.NextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 40px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: #f8f8f7;
  color: var(--text-color);
}

.PrevievBtn:hover,
.NextBtn:hover {
  background-color: #fbe0dc;
  color: var(--accent-color);
}

.PrevievBtn {
  margin-right: 20px;
}

.NextBtn {
  margin-right: 20px;
}

.ArrowNextBtn {
  margin-left: 10px;
}
