/* breed info page */
.BigLightButton {
  display: inline-block;
  width: 143px;
  background-color: #fbe0dc;
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.BigLightBtnText {
  composes: BigLightButton;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
}

.BtnWrapperGallery {
  justify-content: space-between;
}

/* GRID */
.Img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.GalleryWrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 140px;
  counter-reset: li;
  margin-top: 10px;
}

.GalleryItem {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.ImgNotFound {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: var(--text-color);
}

.GalleryItem .After {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
}

.GalleryItem:hover .After {
  display: block;
  background: rgba(255, 134, 142, 0.6);
}

.Name {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 34px;
  text-align: center;
  background-color: #fff;
  color: var(--accent-color);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.GalleryItem:nth-child(10n + 1),
.GalleryItem:nth-child(10n + 8) {
  grid-column: auto / span 1;
  grid-row: auto / span 2;
}

.GalleryItem:nth-child(10n + 4),
.GalleryItem:nth-child(10n + 9) {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

/* Select buttons */
.SelectName {
  width: 226px;
  height: 40px;
  margin-left: 20px;
  padding-left: 10px;
  background-color: #f8f8f7;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  outline: none;
  border: none;
}

.SelectLimit {
  composes: SelectName;
  width: 101px;
  height: 40px;
  margin-left: 10px;
}

.SortBtn {
  composes: SelectName;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding-left: 0;
  cursor: pointer;
  margin-left: 10px;
}

.Letter {
  width: 19px;
  height: 22px;
}

/* Previev and Next btns */
.RouteBtnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.PrevievBtn,
.NextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 40px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: #f8f8f7;
  color: var(--text-color);
}

.PrevievBtn:hover,
.NextBtn:hover {
  background-color: #fbe0dc;
  color: var(--accent-color);
}

.PrevievBtn {
  margin-right: 20px;
}

.NextBtn {
  margin-right: 20px;
}

.ArrowNextBtn {
  margin-left: 10px;
}

/* search by name */
.ImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 360px;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.Img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
