.Wrapper {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 1440px) {
  .Wrapper {
    display: block;
    visibility: visible;
    width: 680px;
    height: 840px;
    border-radius: 20px;
    background-color: #fbe0dc;
  }
}

.WrapperDark {
  composes: Wrapper;
  background-color: rgba(255, 255, 255, 0.05);
}

.HeroImg {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 1440px) {
  .HeroImg {
    display: block;
    visibility: visible;
    position: absolute;
    top: -83px;
    right: 10px;
  }
}
