.EmojiPage {
  display: flex;
}

.Item {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-right: 10px;
}

.ItemDark {
  composes: Item;
  background-color: rgba(255, 255, 255, 0.05);
}

.Item:last-child {
  margin-right: 0;
}

/* Styles for emojy icons and ssstyles for active link */
.LikeLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url('../../../images/like-30.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.LikeLinkDark {
  composes: LikeLink;
  background-color: rgba(255, 255, 255, 0.05);
}

.LikeLinkActive {
  composes: LikeLink;
  background-image: url('../../../images/like-white-30.svg');
  background-color: var(--accent-color);
}

.FavouriteLink {
  composes: LikeLink;
  background-image: url('../../../images/fav-30.svg');
}

.FavouriteLinkDark {
  composes: FavouriteLink;
  background-color: rgba(255, 255, 255, 0.05);
}

.FavouriteLinkActive {
  composes: FavouriteLink;
  background-color: var(--accent-color);
  background-image: url('../../../images/fav-white-30.svg');
}

.DislikeLink {
  composes: LikeLink;
  background-image: url('../../../images/dislike-30.svg');
}

.DislikeLinkDark {
  composes: DislikeLink;
  background-color: rgba(255, 255, 255, 0.05);
}

.DislikeLinkActive {
  composes: DislikeLink;
  background-color: var(--accent-color);
  background-image: url('../../../images/dislike-white-30.svg');
}

/* Hover styles */
.LikeLink:hover {
  background-color: var(--accent-color);
  background-image: url('../../../images/like-white-30.svg');
}

.DislikeLink:hover {
  background-color: var(--accent-color);
  background-image: url('../../../images/dislike-white-30.svg');
}

.FavouriteLink:hover {
  background-color: var(--accent-color);
  background-image: url('../../../images/fav-white-30.svg');
}
