.TextWrap {
  display: flex;
  align-items: center;
  height: 60px;
  width: 640px;

  background-color: #f8f8f7;
  border-radius: 10px;
}

.TextWrapDark {
  composes: TextWrap;
  background-color: rgba(255, 255, 255, 0.05);
}

.ItemNotFound {
  display: inline-block;
  margin-left: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--text-color);
}

.isHidden {
  display: none;
  visibility: hidden;
}
