.Wrapper {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px solid red; */

  @media screen and (min-width: 375px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

.WrapperDark {
  composes: Wrapper;
  background-color: var(--strong-text-color);
}
