.Main {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8f8f7;
  margin-top: 30px;
  min-height: 780px;
}

@media screen and (min-width: 1400px) {
  .Main {
    position: static;
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 680px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: transparent;
    /* background-color: #f8f8f7; */
  }
}
