.ImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 206.5px;
  margin-top: 10px;
  border: 1px solid #000000;
  border-radius: 20px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .ImgWrapper {
    width: 640px;
    height: 360px;
    margin-top: 20px;
  }
}

.ImgWrapperDark {
  composes: ImgWrapper;
  border: none;
}

.Img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.LeftArrowBtn {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: #fbe0dc;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Emogi list */
.EmojiPage {
  position: absolute;
  left: 50%;
  top: 242px;
  width: 186px;
  height: 60px;
  border: 4px solid #fff;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .EmojiPage {
    top: 398px;
    left: 50%;
    width: 240px;
    height: 80px;
  }
}

.EmojiPageDark {
  composes: EmojiPage;
  border: 4px solid #282828;
  background-color: #282828;
}

.Item {
  display: block;
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .Item {
    width: 80px;
    height: 80px;
  }
}

.Item:nth-child(1) {
  background-color: #97eab9;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Item:nth-child(2) {
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  background-color: #ff868e;
}

.Item:nth-child(3) {
  background-color: #ffd280;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.EmojiBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ACTION LOGS LIST */
.ActionList {
  margin-top: 42px;
  width: 295px;
}

@media screen and (min-width: 768px) {
  .ActionList {
    margin-top: 52px;
    width: 640px;
  }
}

.ActionItem {
  display: block;
  position: relative;
  width: 100%;
  background-color: #f8f8f7;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px 0;
}

@media screen and (min-width: 768px) {
  .ActionItem {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0;
  }
}

.ActionItemDark {
  composes: ActionItem;
  background-color: rgba(255, 255, 255, 0.05);
}

.ActionItem:last-child {
  margin-bottom: 0;
}
