.Wrapper {
  margin-top: 60px;
}

.Title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
  margin-bottom: 20px;
}

.TitleDark {
  composes: Title;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .NavList {
    display: flex;
  }
}
