.Wrapper {
  margin-top: 60px;
}

.Title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
  margin-bottom: 20px;
}

.TitleDark {
  composes: Title;
  color: #ffffff;
}

.NavList {
  display: flex;
}
