.LeftArrowBtn {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: #fbe0dc;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
