.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(29, 29, 29, 0.6);
}
.Modal {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-107%, -50%);
  height: 840px;
  max-height: 840px;
  max-width: 680px;
  width: 100%;
  padding: 20px;
  background-color: #f8f8f7;
  border-radius: 20px;
}

.CloseBtn {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
