.BigLightButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  background-color: #fbe0dc;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .BigLightButton {
    width: 143px;
    margin-left: 280px;
    margin-top: 0;
  }
}

.BigLightBtnText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.BigLightButtonDark {
  composes: BigLightButton;
  background-color: rgba(255, 134, 142, 0.2);
}

.Svg {
  margin-right: 10px;
}
