.BigLightButton {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-left: 249px;
  background-color: #fbe0dc;
  color: var(--accent-color);
}

.BigLightBtnText {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.BigLightButtonDark {
  composes: BigLightButton;
  background-color: rgba(255, 134, 142, 0.2);
}

.Svg {
  margin-right: 10px;
}
