.Container {
  display: flex;
  justify-content: space-between;
}

.isHidden {
  display: none;
  visibility: hidden;
}

.Wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  height: 100vh;
}

@media screen and (min-width: 1400px) {
  .Wrapper {
    position: sticky;
    top: 0;
    left: 0;
    transform: translateX(0);
    align-self: flex-start;
    width: 446px;
    margin-left: 133px;
    margin-right: 66px;
    margin-top: 38px;
    height: 100vh;
  }
}

.Sidebar {
  background-color: transparent;
}

.Title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.32;
  margin-top: 80px;
}

.TitleDark {
  composes: Title;
  color: #ffffff;
}

.SubTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
  margin-top: 10px;
  color: var(--text-color);
}

/* logo */
.LogoWrapper {
  display: flex;
  align-items: center;
}

.LogoPaw {
  width: 24px;
  height: 24px;
  margin-right: 7.89px;
}

.LogoText {
  width: 71.87px;
  height: 12.56px;
}
