.Paper {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
}

.BtnWrapper {
  display: flex;
}

.BigButton {
  display: inline-block;
  width: 146px;
  height: 40px;
  background-color: var(--accent-color);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
