.Text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .Time {
    margin-left: 0;
  }
}

.Id {
  composes: Text;
  font-weight: 500;
  font-size: 16px;
  color: var(--strong-text-color);
}

.IdDark {
  composes: Id;
  color: #fff;
}

.Time {
  composes: Text;
  color: var(--strong-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .Time {
    margin-left: 15px;
    margin-right: 20px;
  }
}

.TimeDark {
  composes: Time;
  color: #fff;
  background-color: #1d1d1d;
}

.ActionItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #f8f8f7;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Icon {
  position: absolute;
  top: 18px;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .Icon {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

.ActionItemDark {
  composes: ActionItem;
  background-color: rgba(255, 255, 255, 0.05);
}

.ActionItem:last-child {
  margin-bottom: 0;
}
