.Title {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 80px;

  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.44;

  color: #1d1d1d;
}

.SubTitle {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  color: #8c8c8c;
}

.SubTitleLink {
  color: #ff868e;
}

.Skeleton {
  fill: #f8f8f7;
  width: 200px;
  height: 200px;
  background-color: #fff;
}

.InputContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 320px;
  margin-top: 40px;
  background-color: #ffffff;
  border: 2px dashed #fbe0dc;
  border-radius: 20px;
}

.Input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.TextOverSceleton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  color: #8c8c8c;
}

.TextOverSceletonStrong {
  font-weight: 500;
  color: #1d1d1d;
}

.StatusUpload {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #8c8c8c;
}

.UploadPhotoBtn {
  display: block;
  width: 172px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;

  background-color: #ff868e;
  border-radius: 10px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}
