.Loader {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.Title {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 80px;

  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.44;

  color: #1d1d1d;
}

.TitleDark {
  composes: Title;
  color: #fff;
}

.SubTitle {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  color: #8c8c8c;
}

.SubTitleLink {
  color: #ff868e;
}

.SkeletonWrapper {
  width: 335px;
  height: 167.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .SkeletonWrapper {
    width: 558px;
    height: 280px;
  }
}

.Skeleton {
  fill: #f8f8f7;
  width: 100px;
  height: 100px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .Skeleton {
    width: 200px;
    height: 200px;
  }
}

.UploadedPhoto {
  object-fit: cover;
}

.InputContainer {
  position: relative;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 167.5px;
  margin-top: 40px;
  background-color: #ffffff;
  border: 2px dashed #ff868e;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .InputContainer {
    width: 640px;
    height: 320px;
  }
}

.InputContainerDark {
  composes: InputContainer;
  background-color: rgba(255, 255, 255, 0.05);
}

.ErrorContainer {
  composes: InputContainer;
  background-color: #fbe0dc;
}

.Input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.TextOverSceleton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  color: #8c8c8c;
}

.TextOverSceletonStrong {
  font-weight: 500;
  color: #1d1d1d;
}

.TextOverSceletonStrongDark {
  composes: TextOverSceletonStrong;
  color: #fff;
}

.UploadPhotoBtn {
  display: block;
  width: 172px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;

  background-color: #ff868e;
  border-radius: 10px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  cursor: pointer;
}

.StatusUploadWrap {
  display: block;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .StatusUploadWrap {
    width: 640px;
  }
}

.StatusUploadWrapDark {
  composes: StatusUploadWrap;
  background-color: rgba(255, 255, 255, 0.05);
}

.StatusUpload {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #8c8c8c;
}

@media screen and (min-width: 768px) {
  .StatusUpload {
    width: 640px;
  }
}

.StatusError,
.StatusSuccess {
  composes: StatusUpload;
  text-align-last: left;
  margin-top: 0;
}

.StatusIcon {
  display: block;
  height: 100%;
  margin-left: 20px;
  margin-right: 10px;
}
