.Paper {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
}

.PaperDark {
  composes: Paper;
  background-color: rgba(255, 255, 255, 0.05);
}
