.Paper {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  min-height: 780px;
  margin-top: 10px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .Paper {
    width: 640px;
  }
}

.PaperDark {
  composes: Paper;
  background-color: rgba(255, 255, 255, 0.05);
}
