.BigButton {
  display: inline-block;
  min-width: 143px;
  padding: 5px 30px;
  background-color: var(--accent-color);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
