.Wrapper {
  position: relative;
  height: 60px;
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .Wrapper {
    width: 470px;
    margin-right: 10px;
    margin-top: 0;
  }
}

.WrapperDark {
  composes: Wrapper;
  background-color: rgba(255, 255, 255, 0.05);
}

.Input {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  outline: none;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--strong-color);
}

@media screen and (min-width: 768px) {
  .Input {
    width: 470px;
  }
}

.InputDark {
  composes: Input;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}

.Btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: #fbe0dc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.BtnDark {
  composes: Btn;
  background-color: rgba(255, 134, 142, 0.2);
}

.Input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--text-color);
  padding-left: 20px;
}
